{% extends 'base_index.html' %}

{% block content %}
<h1>HELLO EVERYBODY</h1>
<h2>Today is {{ today }}</h2>
<main>
    <div id="week">
        <div id="sunday" class="day">Sunday</div>
        <div id="monday" class="day">Monday</div>
        <div id="tuesday" class="day">Tuesday</div>
        <div id="wednesday" class="day">Wednesday</div>
        <div id="thursday" class="day">Thursday</div>
        <div id="friday" class="day">Friday</div>
        <div id="saturday" class="day">Saturday</div>
    </div>
</main>
{% endblock %}
